@import 'variables';
@import 'mixins';
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    h1,
    h2,
    h3,
    h4 {
        visibility: hidden;
    }
} //text spans
.text-color {
    color: $text-color;
}

//button
.button {
    display: block;
    min-width: 186px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}