//colors
$main-blue: #1089ce;
$medium-blue: #bddef2;
$light-blue: #dbedf8;
$grey: #323232;
$dark-grey: #222222;
$white: #FFFFFF;
$text-color: $main-blue;
$light-grey: #cccccc;
$form-grey: #f9f9f9;
$form-text: #6a6a6a;


//links
$visited-link: #92c4e0;

//media queries
$small-media: 768px;
$medium-media: 1200px;


//width
$max-width: 1100px;
$standard-width: 90%;

//media devices
$tablet: 768px;
$desktop: 1200px;


//border-table
$border-table: 1px solid $light-grey;


